﻿@model IEnumerable<uStoreMVC.Models.ProductsModel>
@{
    ViewBag.Title = "Get Product Names";
}

<h2 class="codeExample">Products</h2>

<ul class="codeExample">
    @foreach (var item in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => item.ProductName) costs
            @Html.DisplayFor(modelItem => item.Price) ea. with
            @Html.DisplayFor(modelItem => item.UnitsInStock) total in stock.
        </li>
    }
</ul>

